html, body, div, span, h1, h2, h3, h4, h5, h6, p, img, a {
    margin: 0;
    padding: 0;
    font: inherit;
    vertical-align: baseline;
    border: none;
  }

.ejemplo{
    background-color: rgb(19, 19, 19);
    align-items: center;
    

}

div{
  height: 900;
  width: 1600;
  background: red;

}